# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Video files (ignore the huge one only)
src/video/Anime Wallpapers Hub - Stunning HD & 4K Backgrounds - Brave 2026-02-08 19-15-24.mp4

.env

.vercel
